<% layout("/layouts/boilerplate") %>
<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>Edit Listing</h1>
                <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                    
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" 
                               name="listing[title]" 
                               value="<%= listing.title %>" 
                               placeholder="Enter the title" 
                               class="form-control"
                               required>
                        <div class="valid-feedback">
                          Title looks good!
                        </div>
                        <div class="invalid-feedback">
                          Please enter a title.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" 
                                  placeholder="Enter the description" 
                                  class="form-control" 
                                  required><%= listing.description %></textarea>
                        <div class="valid-feedback">
                          Description is set!
                        </div>
                        <div class="invalid-feedback">
                          Please enter a description.
                        </div>
                    </div>

                    <div class="mb-3">
                    <label class="form-label">Original Listing Image:</label><br>
                    <img src="<%= originalImageUrl %>" 
                    alt="Original Listing" 
                    class="img-fluid rounded" 
                    style="max-width: 100%; height: auto;" />
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" 
                               name="listing[image]" 
                               class="form-control">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" 
                                   name="listing[price]" 
                                   value="<%= listing.price %>" 
                                   placeholder="1200" 
                                   class="form-control"
                                   required>
                            <div class="valid-feedback">
                              Price entered!
                            </div>
                            <div class="invalid-feedback">
                              Please enter a valid price.
                            </div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" 
                                   name="listing[location]" 
                                   value="<%= listing.location %>" 
                                   placeholder="Mumbai Maharashtra" 
                                   class="form-control"
                                   required>
                            <div class="valid-feedback">
                              Location looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please enter a location.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" 
                               name="listing[country]" 
                               value="<%= listing.country %>" 
                               placeholder="India" 
                               class="form-control"
                               required>
                        <div class="valid-feedback">
                          Country entered!
                        </div>
                        <div class="invalid-feedback">
                          Please enter a country name.
                        </div>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-dark edit-btn mb-2">Update</button>
                    <br><br>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
